---
import '../styles/global.css';

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
const baseUrl = import.meta.env.BASE_URL.endsWith('/')
  ? import.meta.env.BASE_URL
  : `${import.meta.env.BASE_URL}/`;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={`${baseUrl}favicon.svg`} />
    <link rel="icon" href={`${baseUrl}favicon.ico`} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gpul-org.github.io/kubernetes-day/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://gpul-org.github.io/kubernetes-day/meta-1.png" />

    <!-- X (Twitter) -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://gpul-org.github.io/kubernetes-day/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="https://gpul-org.github.io/kubernetes-day/meta-1.png" />

    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-white text-black bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:24px_24px] antialiased selection:bg-yellow-300">
    <slot />
  </body>
</html>
